.App {
  padding: 40px 45px;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 12px;
}

.card {
  border-radius: 4px;
  box-shadow: 0px 3px 5px rgba(0, 0, 2, 0.3);
  box-sizing: border-box;
}

.thumbnail {
  height: 150px;
  background: lightblue;
  border-radius: 4px 4px 0 0;
}

.text {
  padding: 12px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}
